In [1]:
# import pandas
import pandas as pd
import os
import sys
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../src')))

from feautre_engineering.feautre_engineering import FeautreEngineering

In [2]:
# load excel data
data = pd.read_excel("../data/data.xlsx")

In [3]:
# feautre engineering
fe = FeautreEngineering(data)

In [4]:
# aggregate data
fe.aggregate_data()

***Aggregating the data***

,CustomerId,AccountId,total_transaction_amount,avg_transaction_amount,transaction_count,std_transaction_amount,max_transaction_amount,min_transaction_amount,median_transaction_amount
0,CustomerId_1,AccountId_1074,-10000.0,-10000.000000,1,0.000000,-10000.0,-10000.0,-10000.0
1,CustomerId_10,AccountId_1074,-10000.0,-10000.000000,1,0.000000,-10000.0,-10000.0,-10000.0
2,CustomerId_1001,AccountId_4841,-5200.0,-2600.000000,2,3394.112550,-200.0,-5000.0,-2600.0
3,CustomerId_1001,AccountId_661,25200.0,8400.000000,3,2771.281292,10000.0,5200.0,10000.0
4,CustomerId_1002,AccountId_4841,-275.0,-45.833333,6,18.819316,-25.0,-75.0,-50.0

In [5]:
# extract transactions data
fe.extract_transactions_data()

***Extracting transactions data***

,TransactionId,CustomerId,TransactionStartTime,transaction_hour,transaction_day,transaction_month,transaction_year
0,TransactionId_76871,CustomerId_4406,2018-11-15 02:18:49+00:00,2.0,15.0,11.0,2018.0
1,TransactionId_73770,CustomerId_4406,2018-11-15 02:19:08+00:00,2.0,15.0,11.0,2018.0
2,TransactionId_26203,CustomerId_4683,2018-11-15 02:44:21+00:00,2.0,15.0,11.0,2018.0
3,TransactionId_380,CustomerId_988,2018-11-15 03:32:55+00:00,3.0,15.0,11.0,2018.0
4,TransactionId_28195,CustomerId_988,2018-11-15 03:34:21+00:00,3.0,15.0,11.0,2018.0

In [6]:
# encode_categorical_data
fe.encode_categorical_data()

***Encoding categorical data***
One-Hot Encoded Columns:
   CountryCode    ProviderId     ProductId   Amount   Value  \
0        256.0  ProviderId_6  ProductId_10   1000.0  1000.0
1          NaN  ProviderId_4   ProductId_6   3679.0    20.0
2        256.0           NaN   ProductId_1    500.0   500.0
3        256.0  ProviderId_1  ProductId_21  20000.0     NaN
4          NaN  ProviderId_4   ProductId_6   -644.0   644.0

       TransactionStartTime  FraudResult       Unnamed: 16  Unnamed: 17  \
0 2018-11-15 02:18:49+00:00            0     January542024          NaN
1 2018-11-15 02:19:08+00:00            0  February33932024  202455March
2 2018-11-15 02:44:21+00:00            0       March552026  202554March
3 2018-11-15 03:32:55+00:00            0       April542027  202454March
4 2018-11-15 03:34:21+00:00            0         May542028  202554March

   transaction_hour  ...  ProductCategory_ticket  ProductCategory_transport  \
0               2.0  ...                   False                      False
1               2.0  ...                   False                      False
2               2.0  ...                   False                      False
3               3.0  ...                   False                      False
4               3.0  ...                   False                      False

   ProductCategory_tv  ProductCategory_utility_bill  ChannelId_ChannelId_2  \
0               False                         False                  False
1               False                         False                   True
2               False                         False                  False
3               False                          True                  False
4               False                         False                   True

   ChannelId_ChannelId_3  ChannelId_ChannelId_5  PricingStrategy_1.0  \
0                   True                  False                False
1                  False                  False                False
2                   True                  False                False
3                   True                  False                False
4                  False                  False                False

   PricingStrategy_2.0  PricingStrategy_4.0
0                 True                False
1                 True                False
2                 True                False
3                 True                False
4                 True                False

[5 rows x 27 columns]
Label Encoded Columns:
   CountryCode  ProviderId     ProductId   Amount   Value  \
0            0           5  ProductId_10   1000.0  1000.0
1            1           3   ProductId_6   3679.0    20.0
2            0           6   ProductId_1    500.0   500.0
3            0           0  ProductId_21  20000.0     NaN
4            1           3   ProductId_6   -644.0   644.0

       TransactionStartTime  FraudResult       Unnamed: 16  Unnamed: 17  \
0 2018-11-15 02:18:49+00:00            0     January542024          NaN
1 2018-11-15 02:19:08+00:00            0  February33932024  202455March
2 2018-11-15 02:44:21+00:00            0       March552026  202554March
3 2018-11-15 03:32:55+00:00            0       April542027  202454March
4 2018-11-15 03:34:21+00:00            0         May542028  202554March

   transaction_hour  ...  ProductCategory_ticket  ProductCategory_transport  \
0               2.0  ...                   False                      False
1               2.0  ...                   False                      False
2               2.0  ...                   False                      False
3               3.0  ...                   False                      False
4               3.0  ...                   False                      False

   ProductCategory_tv  ProductCategory_utility_bill  ChannelId_ChannelId_2  \
0               False                         False                  False
1               False                         False                   True
2               False                         False                  False
3               False                          True                  False
4               False                         False                   True

   ChannelId_ChannelId_3  ChannelId_ChannelId_5  PricingStrategy_1.0  \
0                   True                  False                False
1                  False                  False                False
2                   True                  False                False
3                   True                  False                False
4                  False                  False                False

   PricingStrategy_2.0  PricingStrategy_4.0
0                 True                False
1                 True                False
2                 True                False
3                 True                False
4                 True                False

[5 rows x 27 columns]

In [7]:
# missing values
fe.missing_values()

***Handling missing values***
Missing Values Count:
TransactionId               0
BatchId                     0
AccountId                   2
SubscriptionId              0
CustomerId                  0
CurrencyCode                0
CountryCode                 2
ProviderId                  2
ProductId                   0
ProductCategory             0
ChannelId                   0
Amount                      0
Value                       3
TransactionStartTime        1
PricingStrategy             3
FraudResult                 0
Unnamed: 16             95646
Unnamed: 17             95650
transaction_hour            1
transaction_day             1
transaction_month           1
transaction_year            1
dtype: int64

Missing Values Percentage:
TransactionId            0.000000
BatchId                  0.000000
AccountId                0.002091
SubscriptionId           0.000000
CustomerId               0.000000
CurrencyCode             0.000000
CountryCode              0.002091
ProviderId               0.002091
ProductId                0.000000
ProductCategory          0.000000
ChannelId                0.000000
Amount                   0.000000
Value                    0.003136
TransactionStartTime     0.001045
PricingStrategy          0.003136
FraudResult              0.000000
Unnamed: 16             99.983274
Unnamed: 17             99.987456
transaction_hour         0.001045
transaction_day          0.001045
transaction_month        0.001045
transaction_year         0.001045
dtype: float64
After Imputation:
TransactionId           0
BatchId                 0
AccountId               0
SubscriptionId          0
CustomerId              0
CurrencyCode            0
CountryCode             0
ProviderId              0
ProductId               0
ProductCategory         0
ChannelId               0
Amount                  0
Value                   0
TransactionStartTime    0
PricingStrategy         0
FraudResult             0
Unnamed: 16             0
Unnamed: 17             0
transaction_hour        0
transaction_day         0
transaction_month       0
transaction_year        0
dtype: int64
After KNN Imputation:
CountryCode          0
Amount               0
Value                0
PricingStrategy      0
FraudResult          0
transaction_hour     0
transaction_day      0
transaction_month    0
transaction_year     0
dtype: int64

In [8]:
fe.normalize_data()

***Normalizing the data***
Normalized Data:
   CountryCode    Amount     Value  PricingStrategy  FraudResult  \
0          0.0  0.092004  0.000101              0.5          0.0
1          0.0  0.092250  0.000002              0.5          0.0
2          0.0  0.091958  0.000050              0.5          0.0
3          0.0  0.093750  0.000101              0.5          0.0
4          0.0  0.091853  0.000065              0.5          0.0

   transaction_hour  transaction_day  transaction_month  transaction_year
0          0.086957         0.466667           0.909091               0.0
1          0.086957         0.466667           0.909091               0.0
2          0.086957         0.466667           0.909091               0.0
3          0.130435         0.466667           0.909091               0.0
4          0.130435         0.466667           0.909091               0.0
Standardized Data:
   CountryCode    Amount     Value  PricingStrategy  FraudResult  \
0          0.0 -0.046373 -0.072289        -0.349179    -0.044962
1          0.0 -0.024647 -0.080249        -0.349179    -0.044962
2          0.0 -0.050428 -0.076350        -0.349179    -0.044962
3          0.0  0.107715 -0.072289        -0.349179    -0.044962
4          0.0 -0.059706 -0.075181        -0.349179    -0.044962

   transaction_hour  transaction_day  transaction_month  transaction_year
0         -2.155583        -0.100739           0.848684         -0.994246
1         -2.155583        -0.100739           0.848684         -0.994246
2         -2.155583        -0.100739           0.848684         -0.994246
3         -1.949264        -0.100739           0.848684         -0.994246
4         -1.949264        -0.100739           0.848684         -0.994246